# Database configuration

DATABASE_PROVIDER=Postgres # Supported: Postgres
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/saas_kit_db # Connection string for Prisma and app

# PostgreSQL container configuration (required locally for Docker Compose)

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=saas_kit_db
POSTGRES_HOST=localhost # Host for local Postgres (update if using Docker)
POSTGRES_PORT=5432 # Port for local Postgres (update if using Docker)

# Auth.js configuration

AUTH_SECRET=your-AUTH-secret # Generate with `openssl rand -base64 32`

# Storage configuration (DigitalOcean Spaces)

STORAGE_PROVIDER=Spaces # Supported: Spaces
SPACES_KEY_ID=your-access-key-id-here # DigitalOcean Spaces Access Key Id
SPACES_SECRET_KEY=your-access-key-secret-here # DigitalOcean Spaces Access Key Secret
SPACES_REGION=nyc3 # Spaces region
SPACES_BUCKET_NAME=my-app-bucket # Spaces bucket name

# Email configuration (Resend)
EMAIL_PROVIDER=Resend
RESEND_API_KEY=your-resend-api-key # API key from Resend
RESEND_EMAIL_SENDER=your-email-sender-address # Email sender address, your-address@your-domain.{com/net/etc}
# Development flag to disable email verification for local development
# Set to true to skip email verification and allow immediate login after signup
ENABLE_EMAIL_INTEGRATION=false

# (Optional) Additional configuration

# LOG_LEVEL=info

# Stripe

BILLING_PROVIDER=Stripe
STRIPE_SECRET_KEY= # Stripe secret key
STRIPE_WEBHOOK_SECRET= # Secret to verify payloads authenticity
STRIPE_FREE_PRICE_ID= # The free price Id created with the stripe script
STRIPE_PRO_PRICE_ID= # The pro price Id created with the stripe script
STRIPE_PRO_GIFT_PRICE_ID= # The pro gift price Id created with the stripe script
STRIPE_PORTAL_CONFIG_ID= # The Stripe portal configuration ID
# General

BASE_URL= # The URL of the application, used for Stripe callbacks
