# Database configuration

DATABASE_PROVIDER=Postgres # Supported: Postgres
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/saas_kit_db # Connection string for Prisma and app

# PostgreSQL container configuration (required locally for Docker Compose)

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=saas_kit_db
POSTGRES_HOST=localhost # Host for local Postgres (update if using Docker)
POSTGRES_PORT=5432 # Port for local Postgres (update if using Docker)

# Auth.js configuration

NEXTAUTH_URL=http://localhost:3000 # Public URL of your app
NEXTAUTH_SECRET=your-nextauth-secret # Generate with `openssl rand -base64 32`

# Storage configuration (DigitalOcean Spaces)

STORAGE_PROVIDER=Spaces # Supported: Spaces
SPACES_KEY_ID=your-access-key-id-here # DigitalOcean Spaces Access Key Id
SPACES_KEY_SECRET=your-access-key-secret-here # DigitalOcean Spaces Access Key Secret
SPACES_REGION=nyc3 # Spaces region
SPACES_BUCKET_NAME=my-app-bucket # Spaces bucket name

# Email configuration (Resend)

RESEND_API_KEY=your-resend-api-key # API key from Resend
RESEND_EMAIL_SENDER=your-email-sender-address # Email sender address, your-address@your-domain.{com/net/etc}

# (Optional) Additional configuration

# LOG_LEVEL=info

# EMAIL_PROVIDER=... # If using email features

# Stripe

BILLING_PROVIDER:Stripe
STRIPE_WEBHOOK_SECRET= # Secret to verify payloads authenticity
NEXT_PUBLIC_STRIPE_FREE_PRODUCT_ID= # The free product Id created with the stripe script
NEXT_PUBLIC_STRIPE_FREE_PRICE_ID= # The free price Id created with the stripe script
NEXT_PUBLIC_STRIPE_PRO_PRODUCT_ID= # The pro product Id created with the stripe script
NEXT_PUBLIC_STRIPE_PRO_PRICE_ID= # The pro pirce Id created with the stripe script
